.dietSelect option:not([value=""]) {
    display: none;
  }
  
.dietSelect option[value=""], .diets-select option[selected] {
    display: block;
  }
.formImageContainer{
  position: absolute;
  width: 100%;
}
.formContainer {
    position: relative;
    background-image: url("https://i.pinimg.com/originals/50/f1/6f/50f16f897ca4baff5d3863ac738d94e5.jpg");
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 650px;
    padding: 80px;
    top: 200px;
    line-height: 30px;
    font-size: 2rem;
    align-items: self-start;
    text-align: center;
    color: #0e26dd;
    margin: auto;
    border-radius: 20px;
   
  }
input, textarea{
    display: grid;
    width: 400px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    outline: none;
    box-shadow: 0 0 5px #ccc;
    font-size: 1.5rem;
  }
.formLinkHome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #23828b;
    font-size: 2rem;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 0 5px #ccc;
    margin: auto;
    margin-top: 50px;
    position: relative;
    top: 200px;
}
.formName{
  width: 900px;
  margin-top: 170px;
}

select{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  outline: none;
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  margin-left: 10px;
  width: 280px;
  background-color: #032406e5;
  opacity: .7;
  color: #f2c319;
  font-weight: 700;
}

.formLinkHome a{
    text-decoration: none;
    color: #fff;
}
.formLinkHome:hover a{
    cursor: pointer;
    color: rgb(6, 72, 110);
}
.formButtonCreate{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #23828b;
  font-size: 2rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0 0 5px #ccc;
  margin: auto;
  color: #fff;
  border: #fff;
}
.formButtonCreate:hover {
  cursor: pointer;
  color: rgb(6, 72, 110);
}
.formDiets{
  display: flex;
}
.formModal{
  width: 500px;
  height: 200px;
  background-color: #23828b;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}
.buttonModal{
  width: 150px;
  height: 50px;
  background: #042e06;
  color: #fff;
  font-size: 1.2rem;
}

/* @media screen and (max-width: 768px) {
.formContainer{
  width: 400px;
  height: 650px;
  padding: 75px;
  line-height: 25spx;
  font-size: 1.5rem;
}
input{
  font-size: 1.5rem;
}
textarea{
  font-size: 1.5rem;
}
select{
  font-size: 1.2rem;
}
.formButtonCreate{
  height: 40px;
  font-size: 1.5rem;
}
.formLinkHome{
  height: 40px;
  font-size: 1.5rem;
  margin-top: 35px;
}
}
@media screen and (max-width: 570px) {
  .formContainer{
    width: 300px;
    height: 550px;
    padding: 75px;
    line-height: 20px;
    font-size: 1.5rem;
  }
  input, textarea{
    width: 300px;
    height: 50px;
  }
  select{
    font-size: 1.2rem;
  }
  }
  @media screen and (max-width: 470px) {
    .formContainer{
      width: 200px;
      height: 550px;
      padding: 75px;
      line-height: 15px;
      font-size: 1.5rem;
    }
    input, textarea{
      width: 230px;
      height: 50px;
    }
    select{
      margin-top: 1.5rem;
    }
    .formButtonCreate{
      margin-top: 2.5rem;
    }
    } */